<h1>code</h1>
<div>
    <svg class="hex" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="apps.html" data-spa-href="">
            <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                apps
            </text>
        </a>
    </svg>
    <svg class="hex sibling offset" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="toys.html" data-spa-href="">
        <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                toys
            </text>
        </a>
    </svg>
    <svg class="hex sibling" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="solo_games.html" data-spa-href="">
            <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                solo games
            </text>
        </a>
    </svg>
    <svg class="hex sibling offset" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="uni_games.html" data-spa-href="">
            <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                university games
            </text>
        </a>
    </svg>
    <svg class="hex sibling" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="tools.html" data-spa-href="">
            <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                dev tools
            </text>
        </a>
    </svg>
</div>