<div class="view-80p">
    <h1>design</h1>
    <h2>board game projects</h2>
    <!-- <h2 class="hex-header no-logo">Software Project Patches</h2> -->
    <h3 class="hex-header short-tail mrg-t-10 no-logo">
        Council of Worms
        <!-- <a href="doodles/solarcss/" class="square-link" target="_blank">Demo</a> -->
    </h3>
    <p>
        <img src="/content/images/small_stout_box.png" class="pull-r thumb" alt="">
        A board game featuring backstabbing, politics, and city-building, set in Renaissance Germany.
    </p>
    <h4 class="underline">
        Gameplay
    </h4>
    <p>
        <strong>Events</strong>: 
        <i>Council of Worms</i> has 40 Event cards that present the players with a situation that might befall a medieval town council. Some of the Events have immediate and catastrophic effects.
    </p>
    <p>
        <strong>Voting</strong>: 
        Players must resolve each Event by choosing one of 3 solutions. Each solution can have resource requirements or positive or negative effects. The players vote for the solution, so persuasion and backstabbing are core elements of the game.
    </p>
    <p>
        <strong>City Building</strong>: 
        Events that are handled positively cause the town to grow in size. The 16 card District deck has a variety of medieval town landmarks, like a Waterfront and a Castle. Players get to build their town anew each time they play.
    </p>
    <p>
        <strong>Secret Bids</strong>: New districts means players have an opportunity to gain political supporters. Players must bid their hard owned gold to capture supporters in new districts. The first player to reach the supporter goal wins the game.   
    </p>
</div>