<div class="view-80p">
    <h1>design</h1>
    <svg class="hex" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="design_toys.html" data-spa-href="">
        <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                toys
            </text>
        </a>
    </svg>
    <svg class="hex offset sibling" xmlns="http://www.w3.org/2000/svg" version="1.1" 
    width="173.2px" height="200px" fill="transparent" viewbox="-86.6 -100 173.2 200"
    xmlns:xlink="http://www.w3.org/1999/xlink">
        <a href="board_games.html" data-spa-href="">
            <polygon class="hex" stroke="#f05a28" strokeWidth="8px" fill="transparent" 
            points="86.6,50 0,100 -86.6,50 -86.6,-50 0,-100 86.6,-50"></polygon>
            <text x="0px" y="0px" height="200px" width="173.2px" fill="black" style="text-anchor: middle">
                board games
            </text>
        </a>
    </svg>
</div>