<div class="view-80p">
    <h1>bytes</h1>
    <h2>web dev tool projects</h2>
    <h2 class="hex-header chartbugz">
        chartbugz
        <a href="https://github.com/ACReeser/chartbugz" class="square-link" target="_blank">GitHub</a>
        <a href="https://cdn.rawgit.com/ACReeser/chartbugz/master/root/" class="square-link mrg-l-0" target="_blank">Demo</a>
    </h2>
    <p>A visualization web app for ticket tracking using the FogBugz API.</p>

    <section class="feature">
        <img src="/content/images/chartbugz.png" alt="" class="pull-r" style="width:100px">
        <h3>
            Favorite Feature: Favicon
        </h3>
        <p>
            The Chartbugz app logo is a fun and minimal design. A hallmark of good design is when it is legible inside the browser's tiny tab icon area. I believe this icon does well even at tiny resolution.
        </p>
    </section>
    <section class="feature">
        <img src="/content/images/chartbugz_empty_data.png" alt="" class="pull-l" style="width:200px">
        <h3>Favorite Feature: Empty Data State</h3>
        <p>
            Because the Chartbugz "app" was implemented as a "bring-your-own-data" solution that required users to paste in their RSS feed, it needed to have a "null data" state. This special view state is meant to convey that there is no data, but the app is still working!
        </p>
        <p>
            This is a very useful User Experience trick that I have re-used many times since, in both personal projects and in professional work.
        </p>
    </section>
    <h2 class="hex-header apiculate">
        apiculate
        <a href="https://github.com/ACReeser/apiculate" class="square-link" target="_blank">GitHub</a>
        <a href="http://acreeser.github.io/apiculate/" class="square-link mrg-l-0" target="_blank">Docs</a>
    </h2>
    <p>A visualization web app for HTTP APIs, featuring live-queries, filtering, and text search.</p>
    <p>
        <a href="http://acreeser.github.io/apiculate/demo/gist.html" class="square-link" target="_blank">See it with the GitHub Gist API</a>
    </p>
</div>